// ==========================
// PAGE : SINGLE PHOTO
// ==========================

#single-photo {
    min-height: 100vh;
    padding: 2vh 12vw;
    margin-top: 10vh;

    .photo-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;

        .photo-title {
            text-transform: $text-uppercase;
            margin-bottom: 0;
            max-width: 420px;
        }

        .photo-details {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-bottom: 44px;
            justify-content: flex-end;

            p {
                text-transform: uppercase;
                margin: 0;
            }
        }

        .photo-image {
            flex: 1 1 50%;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .photo-contact-block {
            flex: 1 1 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: space-between;
            position: relative;
            padding: 19px 0;

            // Lignes noires en haut et en bas
            &::before,
            &::after {
                content: "";
                position: absolute; // 👈 ici la ligne fait 80% de la largeur du bloc
                height: 1px;
                background-color: $black;
            }

            &::before {
                top: -5px;
                transform: translateY(-50%); // 👈 adapte à la largeur voulue comme sur la maquette
                width: 49%;
            }

            &::after {
                bottom: 0;
                transform: translateY(50%);
                width: 100%;
            }

            .photo-contact-wrapper {
                display: flex;
                align-items: center;
                gap: 8rem;
            }

            .photo-contact-text {
                font-family: $font-poppins;
                font-size: 0.85rem;
                text-transform: none;
            }

            .photo-contact-button {
                button {
                    background: $mid-grey;
                    color: $black;
                    border: none;
                    padding: 8px 15px;
                    font-size: 12px;
                    text-transform: uppercase;
                    cursor: pointer;
                    width: 272px;
                    height: 50px;

                    &:hover {
                        background-color: $black;
                        color: white;
                    }
                }
            }

            .photo-navigation {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: center;

                .prev-photo a,
                .next-photo a {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: $black;
                    text-decoration: none;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .photo-arrows {
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;
                }

                .photo-preview-thumbnail img {
                    width: 50px;
                    height: auto;
                    object-fit: cover;
                    border: 1px solid $black;
                }
            }
        }

    }
}



// ==========================
// PARTIE : PHOTO APPARENTÉES 
// ==========================

.photo-apparentees {
    max-width: 1136px;
    margin: 90px auto;

    .title-apparentees {
        text-transform: $text-uppercase;
        margin-bottom: 66px;
    }

    .apparentees-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; // léger gap
        justify-content: center;
    }

    
}
