body {
  text-transform: uppercase;
}

// PC styles (desktop)
h1 {
  font-family: $font-space-mono;
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-family: $font-space-mono;
  font-weight: 400;
  font-style: italic;
  font-size: 66px;
  line-height: 58px;
}

h3 {
  font-family: $font-space-mono;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
}

.photo-description {
  font-family: $font-space-mono;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
}

p {
  font-family: $font-poppins;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
}


