// Couleurs
$red: #E00000;
$red-mid: #FE5858;
$pink: #FFD6D6;
$black: #000000;
$dark-blue: #313144;
$dark-grey: #C4C4C4;
$mid-grey: #D8D8D8;
$light-grey: #E5E5E5;

// Fonts
$font-space-mono: 'Space Mono', monospace;
$font-poppins: 'Poppins', sans-serif;

// Textes
$text-uppercase: uppercase;
