@import 'fonts';
@import 'variables';
@import 'typography';
@import 'base';
@import 'single-photo';
@import 'header';
@import 'footer';
@import 'home';
@import 'responsive';
@import 'modal';


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
